#cart_items {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("/assets/images/about3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 20px;
}


.input-group {
    position: relative;
    display: inline-flex;
    border-collapse: separate;
    padding-bottom: 26px;
    width: 100%;
  }
  
  .edit {
    display: inline-flex;
  }
  
  .edit a {
    padding-left: 10px;
  }
  
  .fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    padding-top: 10px;
    padding-right: 5px;
  }
  
  .card {
    background-color: #f0f0e9;
    opacity: 0.8;
    padding: 7px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .card-title{
    padding-bottom: 30px;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    padding-top: 9px;
  }