<!-- slider -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>ARINE</span>-CONSULTING</h1>
                                
                                <h2>ACA vous accompagne dans la création d'entreprise			
                                    ainsi que la gestion comptable,sociale,juridique et fiscal.</h2>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/slider/14.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Pourquoi</span> nous choisir?</h1>
                                <h2>Nous mettons à contribution notre expertise, notre expérience et notre écosystème de
                                    professionnels
                                    pour vous accompagner dans la création de votre entreprise.</h2>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/slider/13.png" class="girl img-responsive" alt="" />                         
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Expertise</span>-Comptable</h1>
                                <h2>ACA accompagne les entreprise,les artisants,		
                                    les commerçants,profession libérales, dans 		
                                    leur gestion comptable:		
                                    tenue de comptabilité,révision,tableau de 		
                                    bord,déclaration fiscales et sociales,comptes 		
                                    annuels,déclaration des revenus sur les particuliers		
                                    .</h2>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/images/slider/15.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider -->