<!-- slider -->
<app-slider></app-slider>
<!-- slider -->
<section id="about_3"></section>

<section>
  <div class="container">
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Nos Services</h2>
        </div>
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="fa fa-bar-chart"></i>
                <h3><a href="#">Comptabilité</a></h3>

              </div>
              <div class="services-content">
                <p>ACA peut vous assister simplement dans la tenue de vos comptes ou prendre en charge l’ensemble de vos obligations comptables et fiscales.		
                  ...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="fa fa-users"></i>   
                <h3><a href="#">Social RH</a></h3>

              </div>
              <div class="services-content">
                <p>ACA suit le volet RH et social de votre entreprise depuis la gestion de la paie jusqu’à l’audit social mais peut également intervenir sur vos accords d’entreprise, assister vos accords...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
              <div class="icon">
                <i class="fa fa-lightbulb-o"></i>  
                <h3><a href="#">Conseil et gestion</a></h3>
              </div>
              <div class="services-content">
                <p>ACA vous propose de nombreuses solutions pour gérer votre entreprise au quotidien. Découvrez les offres de gestion dans les domaines de la comptabilité, la paie, la gestion sociale....</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon">
                <i class="fa fa-building"></i>         
                <h3><a href="#">Création d’entreprise</a></h3>
              </div>
              <div class="services-content">
                <p>Les collaborateurs de ACA Consulting vous assistent dès le démarrage de votre projet de création d’entreprise...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
              <div class="icon">
                <i class="fa fa-balance-scale"></i>  
                <h3><a href="#">Droits des affaires</a></h3>
              </div>
              <div class="services-content">
                <p>En matière juridique et accessoirement à nos missions de base, nous pouvons intervenir dans le cadre de mandats spécifiques du type expertise auprès des tribunaux et Liquidation des entreprises...</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
              <div class="icon">
                <i class="fa fa-globe"></i>
                <h3><a href="#">Audit</a></h3>

              </div>
              <div class="services-content">
                <p>En matière d’audit nous assumons la Commissariat et la révision légale des comptes...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>